{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static 'assets/img/home-bg.jpg' %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Clean BlogS</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% for post in posts %}
                    <div class="post-preview">
                        <a href="{% url 'blog:detail' post.slug %}">
                            <h2 class="post-title">{{ post.title }}</h2>
                            <h3 class="post-subtitle">{{ post.body|truncatewords:30 }}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a>{{ post.author }}</a>
                            on {{ post.created }}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% empty %}
                    <div class="post-preview">
                            <h2 class="post-title">Sorry but no new posts</h2>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}

                    <!-- Pager-->
                    {% include 'pagination.html' with page=posts %}
                    <br>
                </div>
            </div>
        </div>
{% endblock %}
